{% load static %}

<!DOCTYPE html>
<html>
  <head>
    {% include 'parts_of_page/pages_head.html' %}
  </head>
  <body>
    {% include 'parts_of_page/header.html' %}
    <main style="height: 2200px;">
      <div class="image_and_mask">
  			<div class="image">
  				<img src="{% static 'image/main.png' %}">
  			</div>
  		</div>

      <h1>Кібербезпека</h1>
      <p>Комп'ютерна безпека — це сукупність методів захисту у галузі телекомунікацій та інформатики, пов'язаних з оцінкою і контролюванням ризиків, що виникають при користуванні комп'ютерами та комп'ютерними мережами і їх впровадження з точки зору конфіденційності, цілісності і доступності.</p>
      <p>Закон України «Про основні засади забезпечення кібербезпеки України» дає таке визначення: «Кібербезпека — захищеність життєво важливих інтересів людини і громадянина, суспільства та держави під час використання кіберпростору, за якої забезпечуються сталий розвиток інформаційного суспільства та цифрового комунікативного середовища, своєчасне виявлення, запобігання і нейтралізація реальних і потенційних загроз національній безпеці України у кіберпросторі».</p>

      <p>Створення безпечних комп'ютерних систем і додатків є метою діяльності мережевих інженерів і програмістів, а також предметом теоретичного дослідження як у галузі телекомунікацій та інформатики, так і економіки. У зв'язку із складністю і трудомісткістю більшості процесів і методів захисту цифрового обладнання, інформації та комп'ютерних систем від ненавмисного чи несанкціонованого доступу вразливості комп'ютерних систем становлять значну проблему для їхніх користувачів.</p>

      <p>Кібербезпека — це безпека ІТ систем (обладнання та програм). Кібербезпека є частиною інформаційної безпеки будь-якої організації.</p>

      <p>Кібербезпека важлива, оскільки урядові, військові, корпоративні, фінансові та медичні організації збирають, обробляють та зберігають безпрецедентні обсяги даних на комп'ютерах та інших пристроях. Значна частина цих даних може бути конфіденційною інформацією, будь то інтелектуальна власність, фінансові дані, особиста інформація або інші типи даних, для яких несанкціонований доступ або викриття можуть мати негативні наслідки. Організації передають конфіденційні дані через мережі та на інші пристрої в процесі ведення бізнесу. Компаніям та організаціям, особливо тим, яким доручається захищати інформацію, що стосується національної безпеки, охорони здоров'я чи фінансової документації, потрібно вживати заходів для захисту своєї конфіденційної інформації про бізнес та персонал. Вже в березні 2013 року представники розвідки країни застерегли, що кібератаки та цифрове шпигунство є головною загрозою національній безпеці, перевершуючи навіть тероризм.</p>

      <div style="width: 100%; height: 700px;">
        <div class="main-div">
          <a href="/ourarticles"><h1>Наші статі</h1></a>
          <div style="border-bottom: black 3px solid;">
            <a href="/ourarticles/authentication"><p><b>Двуфакторна автенфікація</b></p></a>
            <p>Як вона працює. Чому потрібна.</p>
          </div>
          <div style="border-bottom: black 3px solid;">
            <a href="/ourarticles/password"><p><b>Паролі</b></p></a>
            <p>Як створити надійний. Зберігання. Способи взлому.</p>
          </div>
          <div style="border-bottom: black 3px solid;">
            <a href="/ourarticles/virus"><p><b>Віруси</b></p></a>
            <p>Види. Способи поширення. Як уникати</p>
          </div>
        </div>

        <div class="main-div">
          <a href="/news"><h1>Останні новини</h1></a>
          <div class="img_div">
						<img src="{{ news.image.url }}" width="100%">
					</div>
          <p><b>{{ news.title }}</b></p>
          <p>{{ news.text|truncatewords:10 }}</p>
          <a href="{%url 'one_news' news_id=news.pk%}">Читати далі...</a>
        </div>

        <div class="main-div">
          <a href="/articles"><h1>Останні статті від користувачів</h1></a>
          <div class="img_div">
						<img src="{{ article.image.url }}" width="100%">
					</div>
          <p><b>{{ article.title }}</b></p>
          <p>{{ article.text|truncatewords:10 }}</p>
          <a href="{%url 'one_article' article_id=article.pk%}">Читати далі...</a>
        </div>
      </div>
    </main>

    {% include 'parts_of_page/footer.html' %}
  </body>
</html>
