{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PassGen</title>
        <link rel="stylesheet" href="{% static 'css/test1.css' %}">
    </head>
    <body>

        <h1>{{password}}</h1>

        <p>{{time_in_second}}</p>
        <p>{{time_in_minute}}</p>
        <p>{{time_in_hour}}</p>
        <p>{{time_in_day}}</p>
        <p>{{time_in_year}}</p>
        <p>{{time_in_10year}}</p>

        <a href="/password/generate/">Generate</a>
        <a href="{%url 'password_brute' password_brute=password%}">Brute</a>
    </body>
</html>