{% load static %}


<!DOCTYPE html>

<html>

	<head>
		{% include 'parts_of_page/pages_head.html' %}

	</head>


	<body>

		{% include 'parts_of_page/header.html' %}

		<main>
			<div class="ourarticle">
				<div class="img_container">
					<img src="{% static 'image/ourarticle/virus/1.png' %}" alt="1" style="width: 100%;">
				</div>

				<h1>Що таке комп'ютерні віруси</h1>

				<p>Комп'ютерний вірус - це шкідлива програма, яка проникає на пристрій з метою зараження, порушення працездатності системи і пошкодження даних. Вона здатна впроваджуватися в код іншого програмного забезпечення і поширюватися по мережі.</p>

				<p>Наявність вірусів на комп'ютері може призвести до розкрадання особистої та конфіденційної інформації, видалення даних і пошкодження файлів, а іноді навіть стає причиною виходу з ладу всього пристрою.</p>

				<p>Зазвичай віруси ховаються у завантажених з інтернету іграх, додатках, посиланнях, які ми відкриваємо та файлах в листах на електронній пошті, на підроблених фішингових сайтах і т.п.</p>

				<p>Сам термін "віруси" є спрощеним поняттям для того, що фахівці називають "зломвисне програмне забезпечення", англійською malicious software чи malware. На відміну від корисних і бажаних програм, які ми свідомо встановлюємо на свій комп’ютер чи мобільний пристрій – смартфон чи планшет, – є програми, які туди потрапляють без нашого відома чи бажання.</p>

				<h1>Види комп'ютерних вірусів</h1>

				<p>Багато користувачів помилково приписують комп'ютерним вірусам всі види шкідливого ПЗ. Насправді ці «шкідники» зараз зустрічаються значно рідше, ніж ті ж трояни і руткіти.</p>

				<p>Комп'ютерні віруси класифікуються залежно від:</p>
				<div style="margin-left: 50px;">
				 <p>платформи і операційної системи (Windows, Android, iOS, Linux);</p>
				 <p>об'єкту зараження (файлові, завантажувальні, сценарні, макрокомандні);</p>
				 <p>мови програмування (C ++, .NET, JavaScript, PHP, інші);</p>
				 <p>використовуваних зловмисником технологій (стелс, поліморфні, руткіти).</p>
				</div>

				<div class="img_container">
					<img src="{% static 'image/ourarticle/virus/2.png' %}" alt="2" style="width: 100%;">
				</div>


				<p><b>Хробак</b>. Програма, яка робить копії самої себе. Її шкода полягає в засмічуванні комп’ютеру, через що він починає працювати повільніше. Відмінною особливістю хробака є те, що він не може стати частиною іншої нешкідливою програми.</p>

				<p><b>Віруси-маскувальники</b>. Ці віруси використовуються для приховування шкідливої активності. Вони маскують шкідливі програми, щоб уникнути їх виявлення антивірусними програмами. Rootkit також можуть модифікувати операційну систему на комп’ютері і замінювати основні її функції, щоб приховати своє власне присутність і дії, які робить зловмисник на зараженому комп’ютері.</p>

				<p><b>Віруси-шпигуни</b>. Шпигуни збирають інформацію про поведінку і дії користувача. Здебільшого їх цікавить інформація — адреси, паролі, дані кредитних карт.</p>

				<p><b>Рекламні віруси</b>. Програми-реклами, без відома користувачів вбудовуються в різне програмне забезпечення з метою демонстрації рекламних оголошень. Як правило, програми-реклами вбудовані в програмне забезпечення, що поширюється безкоштовно. Реклама розташовується в робочому інтерфейсі. Найчастіше такі- програми також збирають і переправляють своєму розробникові персональну інформацію про користувача.</p>




				<p><b>Віруси-блокувальники</b>. Такі програми блокують користувачеві доступ до операційної системи. При завантаженні комп’ютеру з’являється вікно, в якому користувача звинувачують у скачуванні неліцензійного контенту або порушенні авторських прав. І під загрозою повного видалення всіх даних з комп’ютера вимагають надіслати смс на номер телефону або поповнити його рахунок. Звісно, що після переказу грошей на рахунок зловмисника, банер нікуди не пропадає.</p>

				<p><b>Троянські віруси</b>. Троянська програма є найнебезпечнішим типом вірусів, так як вона маскується в інших нешкідливих програмах. І до того моменту, поки користувач не запустить цю саму нешкідливу програму, троян не несе ніякої небезпеки і виявити його нелегко. Троянська програма може нанести різний збиток для комп’ютера. В основному трояни використовуються для крадіжки, зміни або видалення особистих даних користувача. Відмінною особливістю вірусу-трояна є те, що він не може самостійно розмножуватися.</p>

				<div class="img_container">
					<img src="{% static 'image/ourarticle/virus/3.png' %}" alt="3" style="width: 100%;">
				</div>

				<p><b>Файлові</b> - знаходяться в зараженому файлі, активуються коли користувач включає цю програму, самі не можуть розпочати роботу.</p>

				<p><b>Завантажувальні</b> - можуть запускатися при завантаженні Windows потрапивши в автозапуск, при встановленні флешки.</p>

				<p><b>Макровіруси</b> - це різні скрипти які можуть перебувати на сайті, можуть надсилати їх поштою або в документах Word/Excel, виконують певні функції закладені в комп'ютері. Використовують уразливості ваших програм.</p>

				<p>Популярність вірусів: </p>
				<div style="width: 60%; margin-left: auto; margin-right: auto;">
					<img src="{% static 'image/ourarticle/virus/4.png' %}" alt="4" style="width: 100%;">
				</div>

				<h1>Як уникнути комп’ютерних вірусів?</h1>

				<p>Використовуйте тільки ліцензійні версії антивірусного програмного забезпечення. Вони мають розширений і покращений функціонал, і здатні розпізнати найбільшу кількість інноваційних небезпечних ПЗ, і захистити від них.</p>
				<p>Не відвідуйте веб-сторінки, надійність яких викликає у вас хоч найменші сумніви.</p>
				<p>Не встановлюйте безкоштовні або "крякнуті" антивіруси з метою економії. Крім того, що вони мають обмежені можливості, вони і самі можуть стати джерелом зараження.</p>
				<p>Якщо у вас на робочому столі або в завантаженнях незрозумілим чином з'явилися файли, які ви точно не завантажували, не поспішайте їх відкривати. Так ви можете захистити свій комп'ютер від вірусу, який цілком може запуститися разом з ними.</p>
				<p>Отримавши електронною поштою повідомлення від незнайомих осіб, особливо, які містять незрозумілі вкладення, не відчиняйте їх, не перевіривши антивірусом.</p>
				<p>Захистити комп'ютер від вірусів допомагає блокування спливаючих вікон, в яких, крім рекламної інформації, може перебувати і шкідливий код.</p>
				<p>Не завантажуйте додатки і програми з неперевірених джерел.</p>
				<p>Будьте особливо обережні, якщо вам в інтернеті пропонують «подарувати» платну версію ліцензійного ПЗ. Не пошкодуйте часу, і зайдіть на сайт офіційного розробника за додатковою інформацією - чи проводять вони такі акції насправді. Так ви зможете убезпечити комп'ютер від шкідливого вірусу, який може стати неприємним доповненням до «подарунку».</p>
				<p>Зараз в мережі зловмисниками створюється безліч сайтів-клонів популярних організацій, які повністю копіюють їх інтерфейс. Тому, щоб не стати жертвою хакерів, і запобігти зараженню, ретельно перевіряйте адреси веб-ресурсів. Особливо тих, на яких передбачається введення особистих даних або оплата товарів і послуг банківськими картами (інтернет-магазини, квиткові каси і т.д.).</p>

				<div style="width: 60%; margin-left: auto; margin-right: auto;">
					<img src="{% static 'image/ourarticle/virus/5.png' %}" alt="5" style="width: 100%;">
				</div>
			</div>
		</main>

		{% include 'parts_of_page/footer.html' %}





	</body>

</html>
