{% load static %}


<!DOCTYPE html>

<html>

	<head>
		{% include 'parts_of_page/pages_head.html' %}

	</head>


	<body>

		{% include 'parts_of_page/header.html' %}

		<main>
      <div style="padding: 20px;">
        <div style="width: 70%; margin-left: auto; margin-right: auto;">
          <img src="{% static 'image/ourarticle/cybersecurity/cybersecurity1.png' %}" alt="cybersecurity1" width="100%">
        </div>
        <p>Кібербезпека є необхідною умовою розвитку інформаційного суспільства. Мішенню для кібератаки може стати той, у кого є гроші і будь-які дані (акаунти, паролі, документи, електронні листи і т.д.). Більш того, як повідомляє PaySpace Magazine, від кіберзлочинців може постраждати хто завгодно, оскільки шахраї автоматизують більшість своїх атак. Питанню комп'ютерної та мережевої безпеки приділяють багато уваги в найбільш просунутих країнах світу. Наприклад, 29 травня 2009 року в США оголосили про створення в Білому домі відділу з кібербезпеки. На честь цієї події ми вирішили нагадати основні правила кібербезпеки, дотримання яких допоможе мінімізувати ризики.</p>

        <p>Правило 1. Придумайте надійні паролі Це одне з ключових правил кібербезпеки. Пароль повинен складатися з складного поєднання символів. При цьому для кожного окремого сервісу та сайту повинен бути свій пароль - ні в якому разі не використовуйте їх повторно. Ніколи не повідомляйте свої паролі кому-небудь, не зберігайте їх записаними на папері і не вводьте їх на сторонніх сайтах. Надійні паролі - одне з ключових правил кібербезпеки. </p>

        <p>Правило 2. Ніколи не залишайте свої пристрої без нагляду. Якщо вам потрібно залишити свій комп'ютер, телефон або планшет на якийсь час - незалежно від того, як швидко ви повернетеся - заблокуйте його, щоб ніхто не міг скористатися ним, поки вас немає. Не давайте можливості недоброзичливцям так легко отримати доступ до вашої конфіденційної інформацією. </p>

        <p>Правило 3. Подбайте про безпеку під час проведення платіжних операцій. Не заходьте в онлайн-банкінг і не робіть покупки онлайн з чужих пристроїв або громадських мереж. В іншому випадку ваші банківські дані можуть зібрати і вкрасти кіберзлочинці. Подбайте про безпеку під час проведення платіжних операцій. </p>

        <p>Правило 4. Використовуйте антивірус Антивірусні програми допоможуть вчасно виявити шкідливе ПЗ і захистити ваш комп'ютер від можливих загроз. Не забувайте також встановити антивірус на смартфон або планшет, особливо якщо ви використовуєте їх для здійснення платежів. </p>

        <p>Правило 5. Робіть резервні копії даних. Це допоможе вам не тільки в разі системного збою на пристрої, але і в разі поразки вашого комп'ютера вірусом-шифрувальником. Повторюйте бекап час від часу, щоб не втратити важливу інформацію.</p>

        <p>Правило 6. Будьте обережні з накопичувачами, що підключаються до пристрою Ніколи не підключайте USB-накопичувач або пристрій, походження якого вам невідомо. Вони можуть бути заражені шкідливим програмним забезпеченням, яке може навіть не піддатися форматування. </p>

        <p>Правило 7. Використовуйте двухфакторную аутентифікацію Чим більше рівнів захисту ви використовуєте, тим впевненіше ви можете бути в тому, що з вашими пристроями та даними нічого не трапиться. Активуйте двухфакторную аутентифікацію на всіх акаунтах, які підтримують таку можливість. Використовуйте двухфакторную аутентифікацію. </p>

        <p>Правило 8. Регулярно перевіряйте свої банківські звітності. Перевіряйте свою історію платежів регулярно. У цьому вам може допомогти онлайн-банкінг. Відстежуйте підозрілу активність і при необхідності відразу повідомте свій банк, змініть пароль і переконайтеся, що застосували всі доступні заходи безпеки. </p>

        <p>Правило 9. Не клікайте на підозрілі вкладення, посилання і банери Звертайте також увагу на написання URL-адреси. Фішингові сайти часто імітують інтерфейси банків і онлайн-магазинів, замінюючи лише один або кілька символів на засланні. Крім того, шкідливі домени часто містять складні комбінації символів або орфографічні помилки. Пам'ятайте про існування фішингових сайтів - звертайте увагу на написання URL-адреси. </p>

        <p>Правило 10. Захистіть себе від спаму, для цього перш за все необхідно давати свою основну адресу електронної пошти тільки тим людям і компаніям, яким ви довіряєте. Не заповнюйте непотрібні форми, де просять вказати e-mail. Якщо все таки ви отримали спам, відзначте його, щоб допомогти вашому провайдеру електронної пошти більш ефективно блокувати спам надалі. Буде корисно також відключити автоматичне завантаження графічних файлів HTML у вхідних листах.</p>
      </div>

		</main>

		{% include 'parts_of_page/footer.html' %}

	</body>

</html>
