{% load static %}


<!DOCTYPE html>

<html>

	<head>
		{% include 'parts_of_page/pages_head.html' %}

	</head>


	<body>

		{% include 'parts_of_page/header.html' %}

		<main>
			<div class="ourarticle">
				
				<h1>Несправність мережі Facebook, що ж насправді сталось?</h1>
				<p>Сервіс Facebook, користувачами якого є близько 3.5 мільярдів людей зі всього світу перестав бути доступним 4-го жовтня 2021 року. Це стало великою несподіванкою і шоком для працівників компанії, й завдало незручностей мільйонам користувачів. У цій статті ми розберемося як це стало можливим, і для цього розглянемо кілька Інтернет технологій. </p>
	    	<p>Спершу згадаємо що кожен комп’ютер у мережі має свою власну так звану IP адресу. Записується вона чотирма октетами біт(по 8біт кожен), розділених крапкою, хоча для зручності використовують десяткові числа, наприклад 173.43.5.102. Але практично ніхто не користується такими адресами коли шукає певний сайт, натомість, вводять у браузер так звані доменні імена сайтів, і для фейсбуку це facebook.com. Домени записуються звичними для людей словами, розділеними крапкою, а також поділяються на рівні:</p>
				<div class="img_container">
					<img src="{% static 'image/ourarticle/facebook/1.png' %}" alt="1" style="width: 100%;">
				</div>
				<p>Доменне ім’я це лише абстракція для легкості користування, але в основі маршрутизації однаково залишається IP адреса. Тому для того, щоб розшифрувати доменне ім’я існують спеціальні сервери, які називають DNS серверами(Domain Name System). Вони мають ієрархічну структуру і кожна група відповідає за свій рівень доменного імені.</p>
				<p>Розглянемо покроково що відбувається, коли ми пишемо “facebook.com” і натискаємо Enter в браузері:</p>
				<ul>
					<li><p>Спочатку запит піде до DNS серверу вашого провайдера, адже там зберігаються адреси часто запитуваних DNS імен. Але, якщо такого імені не виявиться у таблиці, то запит далі піде до так званих кореневих DNS серверів.</p></li>
					<li><p>Кореневі сервери не мають інформації яка саме IP адреса у facebook.com, але там є відомості про адреси DNS серверів що відповідають за доменні імена першого рівня, таких як com.</p></li>
					<li>
						<p>Далі провайдер, отримавши потрібний список DNS серверів для домену .com, отримує відповідь що містить список серверів, відповідальних за facebook.com і він виглядає ось так:</p>
						<div class="img_container">
							<img src="{% static 'image/ourarticle/facebook/2.png' %}" alt="2" style="width: 100%;">
						</div>
					</li>
					
					<li><p>Кожен з цих чотирьох відповідальних серверів містить адреси серверів facebook, а їх кількість обумовлена резервуванням(якщо один зупиниться, інший буде продовжувати працювати)</p></li>
					<li><p>На цьому етапі клієнт отримує IP адресу найближчого серверу facebook.</p></li>
					<li><p>Інформація про цю адресу кешується(записується в пам’ять), і наступного разу запит відбудеться напряму. Хоча ця інформація є актуальною лише 40 секунд для сайту facebook.com, і після цього терміну кеш очищується. </p></li>
				</ul>
				<p>Усі великі компанії з глобальними веб сервісами мають свої внутрішні мережі, котрі розкинулися по різним містам світу. Вони використовуються як для внутрішньої роботи компанії так і для зберігання та передавання інформації, якою користуються веб клієнти та веб сервіси компанії. Такі великі самодостатні мережі називаються Автономними системами(AS - Autonomous systems), і кожна з них має свій зареєстрований номер. Для facebook це AS 32934. Фрагмент такої мережі можна побачити на рисунку:</p>
				<div class="img_container">
					<img src="{% static 'image/ourarticle/facebook/3.png' %}" alt="3" style="width: 100%;">
				</div>
				<p>(взято з YouTube каналу Ben Eater)</p>
				
				<p>На цьому ж рисунку зображено фрагмент ще однієї автономної системи AS 7018, котра належить компанії AT&T. Таким мережам вигідно робити зв’язки між собою щоб обмінюватися інформацією для швидкої маршрутизації(оминаючи довгий алгоритм описаний вище). Такі сусідні зв’язки можна встановити за допомогою протоколу BGP(Border Gateway Protocol). За допомогою цього протоколу маршрутизатори обмінюються актуальними таблицями маршрутизації між автономними системами.</p>
    		<p>Один зі співробітників AT&T, який мав доступ до роутерів компанії зробив дослідження під час атаки на Facebook, та виявив різницю між таблицями маршрутизації під час атаки і після її завершення. Виявилось, що під час атаки були відсутні десятки записів у таблиці маршрутизації в тому числі для DNS серверів a.ns.facebook.com, b.ns.facebook.com, c.ns.facebook.com, d.ns.facebook.com, приклад знайдених выдмынностей на рисунку:</p>
				<div class="img_container">
					<img src="{% static 'image/ourarticle/facebook/4.png' %}" alt="4" style="width: 100%;">
				</div>
				<p>(взято з YouTube каналу Ben Eater)</p>

				<p>Насправді, стали недоступними усі 4  відповідальних за адресу facebook.com сервери. Проте й цим не закінчилось, бо більшість пов’язаних з facebook мереж отримали такі самі напівпорожні таблиці маршрутизації, тому за ним стали недоступними Instagram та WhatsApp, Messenger.</p>
				<p>На фоні зупинки такої кількості соц. мереж кількість клієнтів Twitter неймовірно зросла, тому сервери Twitter стали не справлятися з напливом і також стали працювати з перебоями. Кількість відзвітованих проблем мережі Twitter можна побачити на графіку:</p>

				<div class="img_container">
					<img src="{% static 'image/ourarticle/facebook/5.png' %}" alt="5" style="width: 100%;">
				</div>
				<p>(Частину інформації взято і перекладено з YouTube каналу Ben Eater)</p>
			</div>
		</main>

		{% include 'parts_of_page/footer.html' %}





	</body>

</html>
