{% load static %}


<!DOCTYPE html>

<html>

	<head>
		{% include 'parts_of_page/pages_head.html' %}

	</head>


	<body>

		{% include 'parts_of_page/header.html' %}

		<main>
			<div>
				<h1>Багатофакторна аутентифікація</h1>
				<p><b>Багатофакторна автентифікація</b> — розширена аутентифікація, метод контролю доступу до комп'ютера, в якому користувачеві для отримання доступу до інформації необхідно пред'явити більше одного доказу “механізму аутентифікації”.</p>
				<div style="width: 90%; margin-left: auto; margin-right: auto;">
					<img src="{% static 'image/ourarticle/authentication/1.png' %}" alt="1" style="width: 100%;">
				</div>
				<h1>Фактори аутентифікації</h1>
				<p><b>Фактор знання - пароль.</b> Це таємні відомості, якими повинен володіти тільки авторизований суб'єкт(людина). Паролем може бути слово, комбінація для замку або особистий ідентифікаційний номер (PIN). Парольний механізм може бути досить легко втілений і має низьку вартість. Але має суттєві недоліки: зберегти пароль у таємниці часто буває складно, зловмисники постійно вигадують нові способи крадіжки, злому і підбору пароля. Це робить парольний механізм слабозахищеним. Велика кількість секретних питань, такі як «Де ви народилися?», елементарні приклади фактора знань, тому що вони можуть бути відомі широкому загалу людей, або бути досліджені.</p>
				<p><b>Фактор володіння— пристрій аутентифікації.</b> Тут важлива сама обставина володіння людиною якимось особливим предметом. Це може бути особиста печатка, ключ від замка, для комп'ютера це файл даних, що містять характеристику. Характеристика часто вбудовується в особливий пристрій аутентифікації, наприклад, пластикова картка, смарт-картка. Для зловмисника роздобути такий пристрій стає більш складно, ніж зламати пароль, а суб'єкт може відразу ж повідомити в разі крадіжки пристрою. Це робить даний метод більш захищеним, ніж парольний механізм, проте вартість такої системи більш висока.</p>
				<p><b>Фактор властивості — біометрика.</b> Характеристикою є фізична особливість людини. Це може бути портрет, відбиток пальця або долоні, голос або особливість ока. З точки зору суб'єкта, даний спосіб є найбільш простим: не треба запам'ятовувати пароль чи переносити з собою пристрій аутентифікації. Однак біометрична система повинна володіти високою чутливістю, щоб підтверджувати авторизованого користувача, але відкидати зловмисника зі схожими біометричними параметрами. Також вартість такої системи досить велика. Але, незважаючи на свої недоліки, біометрика залишається досить перспективним фактором.</p>
				<h1>Двофакторна аутентифікація</h1>
				<p><b>Двофакторна аутентифікація</b> є типом багатофакторної аутентифікації та представляє собою технологію, що забезпечує ідентифікацію користувачів за допомогою комбінації двох різних компонентів.</p>

				<p>Хорошим прикладом двофакторної аутентифікації є авторизація Google і Microsoft. Коли користувач заходить з нового пристрою, крім аутентифікації по імені та паролю, його просять ввести шестизначний (Google) або восьмизначний (Microsoft) код підтвердження. Ви можете отримати його за допомогою SMS, або голосового дзвінка на ваш телефон, він може бути взятий з заздалегідь складеного реєстру разових кодів або ви можете використовувати додаток-аутентификатор, генеруючий новий одноразовий пароль за короткі проміжки часу. Вибрати один з методів можна в налаштуваннях вашого Google або Microsoft-акаунта.</p>
				<div style="width: 90%; margin-left: auto; margin-right: auto;">
					<img src="{% static 'image/ourarticle/authentication/2.png' %}" alt="2" style="width: 100%;">
				</div>
				<div style="width: 90%; margin-left: auto; margin-right: auto;">
					<img src="{% static 'image/ourarticle/authentication/3.png' %}" alt="3" style="width: 100%;">
				</div>
			</div>
		</main>

		{% include 'parts_of_page/footer.html' %}





	</body>

</html>
