{% load static %}

<!DOCTYPE html>
<html>
    <head>
        {% include 'parts_of_page/pages_head.html' %}
    </head>
    <body>
        {% include 'parts_of_page/header.html' %}
        <main>
          
          <div style="width: 70%; margin-left: auto; margin-right: auto;">
  					<img src="{% static 'image/ourarticle/password/1.png' %}" alt="1" style="width: 100%;">
  				</div>

          <h1>Чого варто уникати при створенні пароля?</h1>

          <p>Будь-який пароль можна зламати, і для зловмисників це всього лише питання часу. Користувач сам може як ускладнити, так і полегшити це завдання. 10% всіх існуючих паролів, хакери можуть підібрати з 4 спроб.</p>

          <p>Які паролі використовувати не можна:</p>

          <div style="margin-left: 50px;">
            <p>123456, 123456789, qwerty, password і 1111111;</p>
            <p>один пароль для всіх сервісів;</p>
            <p>пароль, який містить важливі дати з життя користувача;</p>
            <p>пароль, який складається з осмислених слів і відомих фраз;</p>
            <p>пароль з неперевірених онлайн-генераторів.</p>
          </div>

          <p>Звичайні користувачі та навіть системні адміністратори створюють паролі за застарілим принципом:</p>

          <div style="margin-left: 50px;">
            <p>пароль повинен складатися з російських слів в англійській розкладці;</p>
            <p>містити формули, неіснуючі адреси електронної пошти і рими;</p>
            <p>мінімальна довжина пароля ― 8-12 символів;</p>
            <p>містити всі доступні символи, великі букви і транслітерацію.</p>
          </div>

          <p>Такі методи підвищують надійність пароля, але запам'ятати його складніше. В результаті користувачі будуть спрощувати пароль і це його скомпрометує. Сучасний підхід до створення надійних паролів грунтується на методі відбраковування простих паролів за словниками і базами витоків, а також на моніторингу та зміні паролів у разі компрометації. </p>


          <h1>Як створити надійний пароль?</h1>

          <p>Щоб створити пароль, який хакери не зможуть зламати або, принаймні, їм для цього буде потрібно більше чотирьох спроб, його потрібно захеширувати з додаванням «солі». Сіль ― це постійна частина паролю, яку приписують до нього і хеширують разом з ним. Але варто розуміти, що якщо використовувати одну сіль для всіх паролів, є ймовірність того, що зловмисники отримають доступ до всіх ваших даних. Тому варто мати три варіанти солей:</p>
            <div style="margin-left: 50px;">
              <p>супер сіль ― для захисту робочої інформації;</p>
              <p>запасна сіль ― для акаунтів соціальних мереж, інтернет-магазинів, онлайн-майданчиків для покупки квитків і т.п.</p>
              <p>особиста сіль ― для захисту персональної та фінансової інформації.</p>
            </div>
          <p>На практиці «засолені» паролі виглядають так: Matros nasos kirpich rabota), Matros nasos kirpich viber), Matros nasos kirpich OSBBnashdvor).</p>

          <p>Створити надійний пароль дуже просто. Беремо чотири випадкових, незв'язаних між собою слова, наприклад, correct horse battery staple. Користувачеві такий пароль легко запам'ятати, але складність його підбору висока. Чим довший пароль, тим краще.</p>

          <h1>Як правильно зберігати паролі?</h1>

          <p>Використовувати один і той же пароль для всіх сайтів не рекомендується, тому що зламавши одну сторінку користувача, наприклад, в соціальних мережах, хакери зможуть легко зайти в хмарні сховища, поштові та інші сервіси користувача, ввівши той же набір букв та цифр. Тому користувачеві потрібні різні паролі у великій кількості.</p>

          <p>Головні проблеми з паролями, які виникають у користувачів:</p>
            <div style="margin-left: 50px;">
              <p>Пароль важко вигадати. Для цього є спеціальні програми ― генератори паролів.</p>
              <p>Складно запам'ятати велику кількість різних паролів. Необхідно використовувати менеджери паролів.</p>
              <p>Паролі складно зберігати в таємниці. Для цього використовують шифрувальник файлів.</p>
            </div>
          <p><b>Менеджер паролів</b> ― це сервіс, призначений для зберігання конфіденційної інформації в зашифрованому вигляді на віддалених серверах або в локальній захищеній папці. Детальніше розглянемо хмарний та «наземний» менеджери паролів.</p>

          <p><b>LastPass</b> ― хмарний сервіс, який працює на Windows, Linux, Mac, IOS, Android та інтегрується з Chrome, Firefox, Safari та Opera. Дозволяє зберігати всю базу даних на його захищених серверах. При цьому, тільки користувач може отримати доступ до своїх даних. Хмарне зберігання зручне тим, що користувач отримує доступ до паролів та іншої конфіденційної інформації з будь-якої точки світу.</p>

          <p><b>KeePass</b> ― безкоштовний сервіс з відкритим вихідним кодом. Він зберігає всю конфінденційну інформацію локально на комп'ютері користувача. Є можливість налаштувати синхронізацію бази даних через Dropbox на всі пристрої. Має вбудований генератор паролів. Базу даних паролів можна бекапувати. Програма доступна на Windows, Mac OS, Linux, iOS, Android, Blackberry та інтегрується з Chrome, Firefox, Opera, але не інтегрується з Safari.</p>


          <h1>Як "взламують" паролі</h1>

          <p>Коли ви вводите десь пароль він зашифровується і розшифрувати його може лише ця ж программ, й побачити ва пароль не може навіть автор сайту чи програми.</p>

          <p>Для зловмисника є лише два способи дізнатися ваш пароль:</p>
          <div style="margin-left: 50px;">
            <p><b>Фішинг</b>, коли тим чи іншим способом зловмисник намагається заставити вас ввести пароль там, де немає шифрування. Це може бути копія відомого сайту, якому ви довіряєте, і реєструєтесь вводячі пароль.</p>
            <p><b>Брутфорс(Bruteforce)</b>, коли зловмисник перебирає варіанти, поки не потрапить на той, що підійде.</p>
          </div>

          <p>Для брутфорсингу використовують словники найбільш розповсюджених паролів, як 1111111 чи qwerty1234, в різних варіаціях розміщення букв та їх регістри.</p>
          <p>Також словник можна скласти конкретно для певної людини, знаючи її ім'я, рік народження, нік чи кличку собаки, щоб підібрати пароль на кшталт Vova1506, 19Volodumr98, VovanAndTuzik та багато інших зі всіма можливими варіантами розміщення та регістрів, одже зміна vovan15 на VoVAn15 вас не спасе.</p>
          <p>Тому эдиний працюючий варінт це мати випадково згенерований пароль, що має достатню довжину. Ви можете зберігати його в спеціальних програмах, про які говорилося вище.</p>

          <p>Час потрібний на перебір різних паролів:</p>
          <div style="width: 70%; margin-left: auto; margin-right: auto;">
  					<img src="{% static 'image/ourarticle/password/2.png' %}" alt="2" style="width: 100%;">
  				</div>


          <h1>Ви можете створити собі захищений пароль прямо зараз:</h1>

          <form id="gen" method="POST"  enctype="multipart/form-data" class="add_something" style="margin-top: 10px">
            {% csrf_token %}
            <p>Довжина пароля:</p>
            <p>{{ form.length }}</p>
            <p>Які символи буде мати пароль?</p>
            <p>{{ form.numbers }}</p>
            <p>{{ form.letters }}</p>
            <p>{{ form.bigletters }}</p>
            <p>{{ form.another }}</p>
            <p>Швидкість перебору:</p>
            <p>{{ form.speed }}</p>

            <a href="{%url 'password_generate' password="q1"%}#gen"><button type="submit" class="button" style="float: right;">Згенерувати</button></a>

          </form>

          <p>Ваш пароль:</p>
          <div style="margin-left: 50px;">
            {% for password_rows in password %}
              <p style="font-size: 25px;">{{ password_rows }}</p>
            {% endfor %}
          </div>


          <p>Час перебору:</p>
          <div style="margin-left: 50px;">
            <p>{{ time }}</p>
          </div>

        </main>
        {% include 'parts_of_page/footer.html' %}
    </body>
</html>
