body, html {
	margin: 0 0 0 0;
	width: 100%;
	height: 100%;
	min-height: 700px;
  background-color: white;
  color: black;
}

p {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 25px;
	text-align: left;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 800;
	font-size: 50px;
  text-align: center;
}

img {
	border-radius: 5px;
}

header {
  width: 100%;
  height: 70px;
  padding-top: 10px;
	background-color: #AEC3ED;
  border-bottom-left-radius: 10px 5px;
  border-bottom-right-radius: 10px 5px;
  z-index: 2;
  position: fixed;
  top: 0px;
}

header .logo {
  margin-left: 25px;
	margin-top: 10px;
  font-size: 18px;
  float: left;
  text-decoration: none;
	z-index: 3;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	background-color: #DCDF32;
	font-style: normal;
	font-weight: bold;
	line-height: 19px;
	color: #076AC3;
	text-align: center;
	padding: 10px 20px 10px 20px;
	border-radius: 30px;
}

header nav {
  margin-left: auto;
	margin-right: auto;
}

header nav ul {
  list-style: none;
  width: 400px;
  margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

header nav ul li {
  margin-left: 2%;
  float: left;
}

.button {
	width: 176px;
	height: 45px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	background-color: #DCDF32;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 19px;
	color: #076AC3;
	text-align: center;
	padding: 10px 20px 10px 20px;
	border-radius: 3px;
}

header nav ul li .button:hover {
  background-color: #FFDE00;
  color: black;
}

header nav ul li .button:active {
	padding:5px 10px;
  margin-left: 6px;
	background-color: #FFDE00;
  color: black;
}

main {
  margin-top: 100px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
  width: 80%;
	min-height: 600px;
}

footer {
  width: 100%;
  padding-top: 10px;
	padding-bottom: 10px;
  background-color: #AEC3ED;
  border-top-left-radius: 10px 5px;
  border-top-right-radius: 10px 5px;
	color: black;
	clear: both;
	font-size: 13px;
}


.main-div {
	float: left;
	width: 32%;
	height: 100%;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,.1), 0 4px 30px 0 rgba(0,0,0,.10);
	padding: 0.5%;
	margin-bottom: 30px;
}

.main-div h1{
	font-size: 23px;
}

.image_and_mask {
	width: 100%;
	height: 700px;
}

.image img {
	width: 100%;
	height: 700px;
	border-radius: 5px;
}




.add {
	cursor: pointer;
	color: #000;
}

.profile {
	cursor: pointer;
	color: #DCDF32;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.dropdown {
	position: relative;
	display: inline-block;
	float: right;
}

.dropdown-content {
	display: none;
	right: 0;
	margin-top: 30px;
	min-width: 25px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 4;
	border-radius: 2px;

}

.dropdown-content a {
	cursor: pointer;
	padding: 12px 8px;
	text-decoration: none;
	display: block;
	font:15px Tahoma, Geneva, sans-serif;
	font-weight:bold;
	background-color: #DCDF32;
	color: #076AC3;
	border-radius: 3px;

}

.dropdown-content a:hover {
	background-color: #FFDE00;
  color: black;
}

.dropdown:hover .dropdown-content {
	display: block;
}


.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	height: 30;
	line-height: 0;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: 'liga';
	font-feature-settings: 'liga';
	vertical-align: middle;
}

i {
	font-style: italic;
	color: black;
}

.change_theme {
	display: inline-block;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
	display: none;
	position: absolute;
	min-width: 160px;
	bottom: 50px;
	z-index: 1;
}

.dropup-content a {
	cursor: pointer;
	padding: 12px 8px;
	text-decoration: none;
	display: block;
	font:15px Tahoma, Geneva, sans-serif;
	font-weight:bold;
	background-color: #DCDF32;
	color: #076AC3;
	border-radius: 3px;

}

.dropup-content a:hover {
	background-color: #FFDE00;
  color: black;
}

.show {
	display:block;
}










.news {
	width: 95%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.news img {
	border-radius: 3px;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,.2), 0 4px 20px 0 rgba(0,0,0,.19);


}


.news .date	{
	font-family: sans-serif;
	float: right;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 14px;
	font-variant: small-caps;
	font-weight: bold;
}

.news .author {
	font-family: sans-serif;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 14px;
	font-variant: small-caps;
	font-weight: bold;
}



.news_text {
	width: 100%;
	margin-top: 20px;

}

.news_text p{
	font-size:23px;

}

.news_text a{
	margin-top: 10px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

}

.news .img_div {
	margin-right: auto;
	margin-left: auto;
	width: 75%;
}





















.one_article {
	width: 95%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}

.one_article img {
	border-radius: 3px;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,.2), 0 4px 20px 0 rgba(0,0,0,.19);


}


.one_article .date	{
	font-family: sans-serif;
	float: right;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 14px;
	font-variant: small-caps;
	font-weight: bold;
}

.one_article .author {
	font-family: sans-serif;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 14px;
	font-variant: small-caps;
	font-weight: bold;
}



.one_article .article_text {
	width: 100%;
	margin-top: 20px;

}

.one_article .article_text p{
	font-size:23px;

}

.one_article .article_text a{
	margin-top: 10px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

}

.one_article .img_div {
	margin-right: auto;
	margin-left: auto;
	width: 75%;
}




.articles {
	width: 96%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}

.article {
	width: 44%;
	height: auto;
	padding: 1%;
	min-height: 500px;
	margin-left: 2%;
  margin-right: 2%;
	margin-bottom: 20px;
	margin-top: 50px;
	float: left;
	border-radius: 3px;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,.1), 0 4px 30px 0 rgba(0,0,0,.10);
}



.article img {
	border-radius: 20px;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,.2), 0 4px 20px 0 rgba(0,0,0,.19);
	height: 300px;

}


.article .date	{
	font-family: sans-serif;
	float: right;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 14px;
	font-variant: small-caps;
	font-weight: bold;
}

.article .author {
	font-family: sans-serif;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 14px;
	font-variant: small-caps;
	font-weight: bold;
}



.article_text {
	width: 100%;
	margin-top: 20px;

}

.article_text p{
	font-size: 28px;
	height: auto;

}

.article_text a{
	margin-top: 10px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

}

.article .img_div {
	margin-right: auto;
	margin-left: auto;
	width: 75%;
}





.register_and_login {
	position: relative;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
}

.register_and_login p{
	margin-top: 30px;
	font-size: 23px;
}


.register_and_login ul li{
	font-family:Trebuchet MS;
	margin: 0;
	font-size: 19px;
	list-style-type: none;
}

.register_and_login_text {
	float: right;
	margin-right: 150px;
	font-size: 17px
}

.register_and_login button {
	width: auto;
  text-decoration: none;
  text-align: center;
	font:18px Tahoma, Geneva, sans-serif;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	background-color: #DCDF32;
	font-style: normal;
	font-weight: bold;
	line-height: 19px;
	color: #076AC3;
	padding: 10px 20px 10px 20px;
	border-radius: 3px;

}

.register_and_login input {
	height: 30px;
	padding: 6px 12px;
	font-size: 20px;
	line-height: 1.3333333;
	border-radius: 3px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	background-color: #DCDF32;
	font-style: normal;
	font-weight: bold;
	color: #076AC3;
	margin-right: 10px;
	margin-left: 20px;
}

.errors {
	font-size: 17px;
	margin-top: 100px;
	margin-bottom: 100px;

}

.register_and_login li{
	display: none;

}













/*пагинация*/

a {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	color: #039be5;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	font-size: 19px;
	font-weight: bold;
}


.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	height: 30;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: 'liga';
	font-feature-settings: 'liga';
	vertical-align: middle;
}

i {
	line-height: inherit;
	font-style: italic;
	color: black;
}

.pagination ul li a {
	display: inline-block;
	font-size: 1.2rem;
	padding: 0 10px;
	font-weight:bold;

}
 .normal a {
	color: #444;
 }

 .active a {
	color: #076AC3;
 }

.pagination ul li {
	display: inline-block;
	border-radius: 3px;
	text-align: center;
	vertical-align: middle;
	padding: 3px 1px 3px 1px;
}

.pagination ul {
	width: auto;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	align-self: center;
	list-style-type: none;
	overflow: hidden;
	margin-top: 0px;
	padding-left: 0px;

}

.pagination {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	float: right;
}

.normal {
	position: relative;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
	z-index: 1;
}

.active {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	background-color: #DCDF32;
	font-style: normal;
	font-weight: bold;
	line-height: 19px;
	color: #076AC3;
	text-align: center;
	border-radius: 3px;
}











.profile_page {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}

.profile_page .img_div{
	width: 30%;
	margin-right: auto;
	margin-left: auto;
	border-radius: 50%;

}

.profile_page .img_div img {
	border-radius: 50%;
}


.profile_page p {
	font-size: 17px;
	margin-top: 10px;
}


.profile_page .profile_div{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.profile_page .username {
	text-align: center;
}

.profile_page .full_info {
	margin-top: 10px;
}

.profile_page .role {
	margin-top: 25px;
}

.profile_page .available_options {
	margin-top: 35px;
}

.profile_page .profile_div {
	margin-top: 35px;

}




.profile .add_image #user_image-clear_id {
	display: none;
}

.profile .add_image a {
	display: none;
}

.profile .add_image label {
	display: none;
}


.profile .add_image #id_user_image{
	padding: 6px 12px;
	font-size: 20px;
	line-height: 1.3333333;
	border-radius: 3px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	background-color: #DCDF32;
	font-style: normal;
	font-weight: bold;
	color: #076AC3;
	margin-right: 10px;
	margin-left: 15px;

}

.change_username {
	color: transparent;
}

.change_username label, span{
	display: none;
}


.change_username input{
	margin-left: 103px;
}


.change_info textarea {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	background-color: #DCDF32;
	font-style: normal;
	font-weight: bold;
	color: #076AC3;
	font-family:Trebuchet MS;
	font-size: 15px;
}

.profile .image_div{
	width: 40%;
	margin-right: auto;
	margin-left: auto;
}

.add_image {
	color: transparent;
	margin-right: auto;
	margin-left: auto;
	width: 40%
}

.change_username {
	color: transparent;
	margin-right: auto;
	margin-left: auto;
	width: 40%
}


.change_info {
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	width: 28%

}




.add_something {
	position: relative;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	margin-bottom: 150px;
}

.add_something p{
	margin-top: 30px;
	font-size: 23px;
	color: black;
}


.add_something ul li{
	font-family:Trebuchet MS;
	margin: 0;
	font-size: 19px;
	list-style-type: none;
}

.add_something_text {
	float: right;
	margin-right: 150px;
	font-size: 17px
}

.add_something button {
  width: auto;
  text-decoration: none;
  text-align: center;
	font:18px Tahoma, Geneva, sans-serif;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	background-color: #DCDF32;
	font-style: normal;
	font-weight: bold;
	line-height: 19px;
	color: #076AC3;
	padding: 10px 20px 10px 20px;
	border-radius: 3px;
}

.add_something input {
	padding: 6px 12px;
	font-size: 20px;
	line-height: 1.3333333;
	border-radius: 3px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	background-color: #DCDF32;
	font-style: normal;
	font-weight: bold;
	color: #076AC3;
	margin-right: 10px;
	margin-left: 20px;
}

.add_something select {
	height: 50px;
	padding: 6px 12px;
	font-size: 20px;
	line-height: 1.3333333;
	border-radius: 3px;
	background-color: rgba(25, 209, 0, 0.7);
	border: rgb(0, 121, 41) 2px solid;
	margin-right: 10px;
	margin-left: 20px;
}

.add_something textarea {
	width: 100%;
	height: 300px;
	padding: 6px 12px;
	font-size: 20px;
	line-height: 1.3333333;
	border-radius: 3px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	background-color: #DCDF32;
	font-style: normal;
	font-weight: bold;
	color: #076AC3;
	margin-right: 10px;
	margin-left: 20px;
}

.add_something li{
	/*display: none;*/

}

.add_something .image_div{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
}

.add_something .add_img p{
	color: transparent;
}

.add_something .add_img p input{
	color: black;
}

.add_something p #donation_image-clear_id, #image-clear_id, #image1-clear_id, #image2-clear_id, #image3-clear_id, #image4-clear_id, #image5-clear_id {
	display: none;
}


.add_something p label {
	display: none;
}

.add_something p a {
	display: none;
}



.add_something p #id_user_image{
	color: black;
	height: 30px;
	padding: 6px 12px;
	font-size: 20px;
	line-height: 1.3333333;
	border-radius: 3px;
	background-color: transparent;
	border-color: rgb(218, 165, 32);
	margin-right: 10px;
	margin-left: 15px;

}


.comments_block {
	margin-top: 150px;
	height: auto;
	width: 95%;
	margin-left: auto;
	margin-right: auto;

}


.comments_block .comment_list{
	margin-top: 80px;
}



.comments_block .comment{
	height:auto;
	min-height:500px;
}


.comments_block .text{
	width: 80%;
	height: auto;
	float: right;
}

.comments_block .comment .info {
	width: 20%;
	float: left;
}

.comments_block .comment .info .image_div{
	width: 70%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.comments_block .comment .info .image_div img{
	border-radius: 50%;
}

.comments_block .username{
	width: 70%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}

.comments_block .role{
	width: 70%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}

.comments_block .created{
	float: right;
	margin-left: auto;
	font-size: 15px;

}

.comments_block .add_comment .add_something {
	margin: 0;
}






.comments_block .dropdown-content a {
	background-color: transparent;
	background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
	background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
	background: -o-linear-gradient(top, transparent 0%, transparent 100%);
	background: -ms-linear-gradient(top, transparent 0% ,transparent 100%);
	background: linear-gradient(top, transparent 0% ,transparent 100%);

	-webkit-box-shadow: inset 1px 2px 10px transparent;
	-moz-box-shadow: inset 1px 2px 10px transparent;
	box-shadow: inset 1px 2px 10px transparent;

}


.comments_block .dropdown-content {
	box-shadow: 0px 8px 16px 0px transparent;
}

.edit_comment textarea {
	width: 80%;
	height: 200px;
	padding: 6px 12px;
	font-size: 20px;
	line-height: 1.3333333;
	border-radius: 3px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	background-color: #DCDF32;
	font-style: normal;
	font-weight: bold;
	color: #076AC3;
	margin-right: 10px;
	margin-left: 20px;
}

.edit_comment .button{
	margin-top: 50px;
	width: auto;
  text-decoration: none;
  text-align: center;
	font:18px Tahoma, Geneva, sans-serif;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	background-color: #DCDF32;
	font-style: normal;
	font-weight: bold;
	line-height: 19px;
	color: #076AC3;
	padding: 10px 20px 10px 20px;
	border-radius: 3px;
}






.form {
	width: 30%;
	height: 300px;
	margin-top: 30px;
	margin-bottom: 30px;
	float: left;
}



.form p {
	font-size: 25px;
}

.form a {
	font-size: 17px;
}

.form .date	{
	font-family: sans-serif;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 14px;
	font-variant: small-caps;
	font-weight: bold;
}


.one_statement_form {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.one_statement_form p {
	font-size: 25px;
	margin-top: 25px;
}



.one_statement_form .date	{
	font-family: sans-serif;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 14px;
	font-variant: small-caps;
	font-weight: bold;
}

.one_statement_form .description {
	margin-left: 50px;
}

.add_form {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 125px;
}

.add_form p {
	font-size: 25px;
}




.ourarticle .img_container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
